<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
    <link rel="stylesheet" href="../sass/index.scss" />
  </head>
  <body>
    <nav>
      <a class="link nav-link" href="../index.html" class="link">Shop</a>
      <a class="link nav-link current" href="#" class="link">Shopping Cart</a>
      <a class="link nav-link" href="./history.html" class="link">History</a>
    </nav>
    <form class="shopping-cart-form" action="">
      <div class="wrapper">
        <div class="user-data">
          <label for="name"
            >Name
            <input type="text" name="name" />
          </label>

          <label for="email"
            >Email
            <input type="email" name="email" />
          </label>

          <label for="phone"
            >Phone
            <input type="tel" name="phone" />
          </label>

          <label for="address"
            >Address
            <input type="address" name="address" />
          </label>
        </div>
        <ul class="order-list list"></ul>
      </div>
      <div class="cart-wrap">
        <p class="totalprice-text">
          Total price: <span class="totalprice"></span>$
        </p>
        <button class="submit-btn" type="submit">Submit</button>
      </div>
    </form>

    <script type="module" src="../js/ShoppingCart.js"></script>
  </body>
</html>
